<html>

    <head>
        <title> Express.js </title>
    </head>
    <body>
        <h1> Экспресс </h1>
        <p> Добро пожаловать в Экспресс </p>
        <% if (user) { %>
        <p> Привет, <%= user.name %>! </p>
        <p> <a href=/auth/logout> Выйти </a> </p>
        <% } else { %>
        <p> <a href=/auth/login> Войти </a> </p>
        <% } %>
    </body>

</html>