<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Добро пожаловать в <%= title %></p>
  </body>
</html>
